body {
  font-family: Arial, sans-serif;
  background-color: #be7da9;
  color: white;
  text-align: center;
  margin: 0;
  padding: 20px;
}
h1{
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.contenedor {
  max-width: 800px;
  margin: 0 auto;
}

canvas {
  background-image: url("fondoCanvas.png");
  border: 3px solid #a80404;
  display: block;
  margin: 20px auto;
}

.panel {
  margin: 20px 0;
}

.botones button {
  margin: 5px;
  padding: 10px 16px;
  font-size: 16px;
  cursor: pointer;
}
canvas{
  border-radius: 25px;
}